<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creal.nest"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Custom.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".MainActivity" android:theme="@style/Theme.Custom.NoActionBar" android:screenOrientation="portrait"/>-->
        <!--<activity android:name=".PhoneBinderActivity" android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".test.TestActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MipcaActivityCapture" android:screenOrientation="portrait"/>
        <activity android:name=".SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ShopDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PointsMallActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ExchangeCommodityDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ExchangeCouponDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ExchangeCommodityRecipientActivity" android:theme="@style/Theme.Custom.NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".ExchangePointHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ExchangeIngotsConfirmDialog" android:theme="@style/Theme.CustomDialog" android:screenOrientation="portrait"/>
        <activity android:name=".ExchangeSuccDialog" android:theme="@style/Theme.CustomDialog" android:screenOrientation="portrait"/>
        <activity android:name=".property.PropertyManagementActivity" android:screenOrientation="portrait"/>
        <activity android:name=".property.PropertyPayActivity" android:screenOrientation="portrait"/>
        <activity android:name=".property.PropertyRepairActivity" android:screenOrientation="portrait"/>
        <activity android:name=".property.RepairsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".property.RepairDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".IngotsMallActivity" android:screenOrientation="portrait"/>
        <activity android:name=".TryLuckyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".TryLuckyFailDialogActivity" android:theme="@style/Theme.CustomDialog" android:screenOrientation="portrait"/>
        <activity android:name=".LatestActivitiesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LatestActivityDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SnapupCouponsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SnapCouponDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SnapCouponDialogActivity" android:theme="@style/Theme.CustomDialog" android:screenOrientation="portrait"/>
        <activity android:name=".CouponDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".GesturePwdActivity" android:screenOrientation="portrait" />
        <activity android:name=".MyCouponsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".QRCodeActivity" android:screenOrientation="portrait" />
        <activity android:name=".RechargeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RechargeHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".IngotsExchangeHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RegisterActivity" android:theme="@style/Theme.Custom.NoActionBar" android:screenOrientation="portrait"/>


        <activity android:name=".balance.AccumulationHistoryActivity" android:screenOrientation="portrait"/>


        <activity android:name=".UserInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ChangePwdActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ShoppingHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".HelpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".WebpageActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>
