<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creal.nest"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@android:style/Theme.NoTitleBar">
        <!--
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Custom.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name="com.creal.nest.PhoneBinderActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.creal.nest.PointsMallActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ExchangeCommodityDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ExchangeCouponDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ExchangeCommodityRecipientActivity" android:theme="@style/Theme.Custom.NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".ExchangeSuccDialog" android:theme="@style/Theme.CustomDialog" android:screenOrientation="portrait"/>
        <activity android:name=".PropertiesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PropertiesPayActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PropertiesRepairActivity" android:screenOrientation="portrait"/>
        <activity android:name=".property.RepairsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.IngotsMallActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.TryLuckyActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.LatestActivitiesActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.LatestActivityDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.SnapupCouponsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.SnapCouponDialogActivity" android:theme="@style/Theme.CustomDialog" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.CouponDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.GesturePwdActivity" android:screenOrientation="portrait" />
        <activity android:name="com.creal.nest.MyCouponsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.BarcodeActivity" android:screenOrientation="portrait" />
        <activity android:name="com.creal.nest.MainActivity" android:theme="@style/Theme.Custom.NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.RechargeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.creal.nest.RegisterActivity" android:theme="@style/Theme.Custom.NoActionBar" android:screenOrientation="portrait"/>
    </application>

</manifest>
