SimpleTest/
Support4Demos/
Support4Demos1/
Support4Demos2/
Support7Demos/
TouTiao/
XiaoYanKa/
ApiDemos/
QR_CodeScan/
ZXingDemo/
Jida-3/
Line/
Yc_ui_fragment_tabhost/app/build
Yc_ui_fragment_tabhost/library/build
Yc_ui_fragment_tabhost/.gradle
Yc_ui_fragment_tabhost/app/app.iml
Nest/library/build
Nest/app/build
Nest/build
Nest/.gradle/
*.iml
.idea
local.properties
alipay_demo/
wechat_sdk_sample_android/
*build
*.gradle
ips_p2platform_151105
